.customRadioGroup :global(.ant-radio-button-wrapper-checked) {
  background-color: #173a73 !important;
  color: #fff !important;
  border-color: #173a73 !important;
}

.customRadioGroup :global(.ant-radio-button-wrapper-checked:hover) {
  background-color: #173a73 !important;
  color: #fff !important;
  border-color: #173a73 !important;
}

.customRadioGroup :global(.ant-radio-button-wrapper:hover) {
  color: var(--primary-800);
}
