# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml

# Environment files
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# Prisma
/apps/backend/prisma/dev.db
/apps/backend/prisma/dev.db-journal
/prisma/migrations/
/prisma/populatedb.py

# Next.js
.next/
out/

# Expo / React Native
.expo/
.expo-shared/
build/
*.apk
*.ipa

# React Native specific
*.hprof
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
*.tsbundle
*.jsbundle
*.bundle
*.ipa
*.apk
*.aab
*.xcarchive
*.dSYM.zip
*.dSYM
*.keystore
!debug.keystore

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
.idea/
.gradle/
local.properties
*.iml
.cxx/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Ruby / CocoaPods
/ios/Pods/
/vendor/bundle/

# Metro
.metro-health-check*

# Testing
/coverage

# Turbo / Cache
turbo/
.cache/
dist/

# MacOS system files
.DS_Store

# Logs
logs
*.log

# VS Code
.vscode/
.venv/

# Docker
**/docker-compose.override.yml

